:root {
    /* declare a variable with `--` syntax */
    --dark: midnightblue;
    --light: aliceblue;
    --bright: springgreen;
  }


body{
    background-color: aliceblue;

}

h1{
    color:midnightblue;
}

h2{
    border: 5px solid var(--bright);
    width: 300px;
    position:relative;
    margin-top: -20px;
    background-color: var(--bright);
    transition: color 2s;
    
}

h2:hover {
    background-color: #36aaea;
}

header{
    text-align: center;
}

main{
    align-content:center;
}

.cards{
    display:inline-flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    /* background: linear-gradient(#36aaea, #d336ea); */
    
}

section div { 
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    /* width: 33%; */
}

/* pre {text-align:left;} */

.code {
    text-align:left;
}

pre {
    display:flex;
    flex-wrap:wrap;
    text-align:left;
    background: linear-gradient(#36aaea, #d336ea);
}